@tailwind base;
@tailwind components;
@tailwind utilities;


/* Primary - #1F1E24
Secondary - #A45AD3
*/

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background: #222020;
    border-radius: 10px;
}